
/**
 * @file
 * Style sheet for the Section Order module.
 */
 
#section-order-type-settings  #teaser-tbl {
  float: left;
}
 
#section-order-type-settings  #full-tbl {
  margin-left: 4em;
  float: left;
}

#section-order-settings  input#edit-submit {
  color: #009900;
  font-weight: bold;
}

#section-order-settings  input#edit-reset {
  color: #666600;
}

#section-order-settings  input#edit-rebuild {
  margin-left: 2em;
  color: #990000;
}
